@model IEnumerable<Intranet.Models.Clases.Consultas.ViewComisiones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SucursalNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cobrado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComisionVen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComisionSuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACobrar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaCobrar)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sucursal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SucursalNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cobrado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComisionVen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComisionSuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACobrar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaCobrar)
        </td>
    </tr>
}

</table>
